[mysqld]
port=3307
#可以把mysql.sock放到$datadir所在目录中
socket=/home/bruce/Projects/database/suk-test/mysql.sock

#
# Global Test MySQL server settings,
# /usr/sbin/mysqld --defaults-file=/home/bruce/data/my.cnf 
#     --datadir=/home/bruce/data/
#     --socket=/home/bruce/data/mysql.socket
#
#
[mysqld]
socket = /home/bruce/Projects/database/suk-test/mysql.sock
pid-file = /home/bruce/Projects/database/suk-test/mysql.pid 

# MyISAM #
myisam_recover                = FORCE,BACKUP
# SAFETY #
max_connect_errors            = 1000000
skip_name_resolve
# DATA STORAGE #
datadir                        = /home/bruce/Projects/database/suk-test/
# BINARY LOGGING #
#log_bin                        = /home/bruce/Projects/database/suk-test/mysql-bin
#sync_binlog                    = 1
# CACHES AND LIMITS #
tmp_table_size                = 32M
max_heap_table_size            = 32M
#open_files_limit              = 65535
table_definition_cache        = 1024
# INNODB #
innodb_flush_method            = O_DIRECT
innodb_log_files_in_group      = 2
innodb_thread_concurrency      = 12
auto_increment_increment      = 1
#auto_increment_offset          = 0
# LOGGING #
slow_query_log                = 1
slow_query_log_file            = /home/bruce/Projects/database/suk-test/mysql-slow.log


# strict query parsing/interpretation
# TODO: make work with those settings enabled
# sql_mode=strict_trans_tables,strict_all_tables,strict_error_for_division_by_zero,no_auto_create_user,no_auto_value_on_zero,no_engine_substitution,no_zero_date,no_zero_in_date,only_full_group_by,pipes_as_concat
# sql_mode=strict_trans_tables

# DEBUGGING:
# log all queries, useful for debugging but generates an enormous amount of data
# log=mysql.full
# log queries slower than n seconds, log file name relative to datadir (for debugging only)
# log_slow_queries=mysql.slow
# long_query_time=1
# log queries not using indices, debug only, disable for production use
# log_queries_not_using_indexes=1
#
# mesure database size and adjust innodb_buffer_pool_size
# SELECT sum(data_length) as bla, sum(index_length) as blub FROM information_schema.tables WHERE table_schema not in ("mysql", "information_schema");

# NOTES:
# Keep Innob_log_waits and keep Innodb_buffer_pool_wait_free small (see show global status like "inno%", show global variables)

#expire_logs_days=3

#sync_bin_log=0

# Use UTF-8 encoding for tables
character_set_server=utf8
collation_server=utf8_general_ci

# use InnoDB for transactions and better crash recovery
default_storage_engine=innodb

# memory pool InnoDB uses to store data dictionary information and other internal data structures (default:1M)
# Deprecated in MySQL >= 5.6.3
innodb_additional_mem_pool_size=100M

# memory buffer InnoDB uses to cache data and indexes of its tables (default:128M)
# Larger values means less I/O
innodb_buffer_pool_size=256M

# Create a .ibd file for each table (default:0)
innodb_file_per_table=1

# Write out the log buffer to the log file at each commit (default:1)
innodb_flush_log_at_trx_commit=2

# Buffer size used to write to the log files on disk (default:1M for builtin, 8M for plugin)
# larger values means less I/O
innodb_log_buffer_size=10M

# Size of each log file in a log group (default:5M) larger means less I/O but more time for recovery.
innodb_log_file_size=64M

# # error log file name, relative to datadir (default:hostname.err)
log_error=mysql.err

# print warnings and connection errors (default:1)
log_warnings=2

# Convert table named to lowercase
lower_case_table_names=1

# Maximum size of one packet or any generated/intermediate string. (default:1M)
max_allowed_packet=32M

# Maximum simultaneous connections allowed (default:100)
max_connections=256

# The two options below make no sense with prepared statements and/or transactions
# (make sense when having the same query multiple times)

# Memory allocated for caching query results (default:0 (disabled))
query_cache_size=0

# Do not cache results (default:1)
query_cache_type=0

# Do not use the privileges mechanisms
#skip_grant_tables

# Do not listen for TCP/IP connections at all
#skip_networking

# The number of open tables for all threads. (default:64)
table_open_cache=2048

# How many threads the server should cache for reuse (default:0)
thread_cache_size=30

# wait 365d before dropping the DB connection (default:8h)
wait_timeout=31536000

# We use InnoDB, so don't let MyISAM eat up memory
#key_buffer_size=16K


# key_buffer 指定用于索引的缓冲区大小，在全文索引中，增加它可得到更好的索引处理与查询性能
key_buffer = 512M

# sort_buffer_size 为查询排序时所能使用的缓冲区大小，全文索引的SQL语句之后通常会使用ORDER BY排序，增加它可以加快SQL语句执行时间。该参数对应的分配内存是每连接独占，100个连接使用的内存将是32M*100=3200M
sort_buffer_size = 128M

# 对大于可用内存的表执行GROUP BY或ORDER BY操作，应增加read_rnd_buffer_size的值以加速排序操作后面的行读取
read_rnd_buffer_size = 80M

# 如果表出现故障或索引出错，REPAIR TABLE时用到的缓冲区大小
myisam_sort_buffer_size = 128M

# 确定使用的filesort算法的索引值大小的限值
max_length_for_sort_data = 64

# MySQL全文索引查询所用关键词最小长度限制（不要改变这项值）
ft_min_word_len = 1

# 降低UPDATE优先级，设置查询优先
low_priority_updates = 1

read_buffer_size=80M


[client]
default-character-set=utf8
